# 주문건수에 영향을 미치는 요인 회귀분석

#### 왜 해야하는가? -> 라이더에게 추천하기 위해 여러 계산을 할 때 가중치를 구하기 위해서!!

In [ ]:
# 하지만 고려될 수 있는 독립변수가 너무 적다. / 고려할 수 있는 것은 주문시간대 평균금액과 평균 배달시간 뿐
# 남녀 비율과 5세단위 세대구분을 어떻게 추가할 것인가?
# 주문시간대는 int이기 때문에 단순히 증가량으로만 인식, 원핫인코딩으로 구분해야할까?

In [6]:
import pandas as pd

# 데이터 불러오기
df_delivery = pd.read_excel('./data/delivery/서울시간별통합파일.xlsx')
df_delivery.drop('Unnamed: 0', axis=1, inplace=True)
display(df_delivery.head())

df_classify = pd.read_excel('./data/delivery/서울성별나이별구분.xlsx') 
df_classify.drop('Unnamed: 0', axis=1, inplace=True)
display(df_classify.head())
# 2019년 7월부터 데이터를 불러오자, 그리고 연월까지 추출해서 유니코드로 만든 뒤 배달 데이터에 추가해야 할 듯

           날짜  시간      시     구   평균시간  주문건수  평균주문금액
0  2019-07-18   0  서울특별시   구로구  22.65    16   23679
1  2019-07-18   0  서울특별시   동작구  22.17     1   15400
2  2019-07-18   0  서울특별시  영등포구  20.41    14   20864
3  2019-07-18   1  서울특별시   구로구  28.09     6   19667
4  2019-07-18   1  서울특별시  영등포구  22.19     8   18625

     기준연월      시    구  5세단위구분   총인구수  남성인구수  여성인구수
0  202006  서울특별시  종로구    0-4세   3346   1683   1663
1  202006  서울특별시  종로구    5-9세   4550   2313   2237
2  202006  서울특별시  종로구  10-14세   5091   2581   2510
3  202006  서울특별시  종로구  15-19세   6218   3124   3094
4  202006  서울특별시  종로구  20-24세  10710   5026   5684