# 그래요 다시 한번 회귀분석을 해봅시다!

### 파이썬 패키지를 이용한 회귀분석을 진행해봅시다

#### 시간대는 0-23시까지 나누지말고, 범주형으로 3개 카테고리로 나눠보자 / (아침점심 / 저녁 / 야식)

In [2]:
# 모듈설치 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [12]:
# 데이터 불러오기

df = pd.read_excel('./data/delivery/회귀분석데이터.xlsx')
display(df)

,Unnamed: 0,날짜,시간,시,구,평균시간,주문건수,평균주문금액,5세단위구분,총인구수,남성인구수,여성인구수
0,0,2019-07-18,0,서울특별시,구로구,22.65,16,23679,20-24세,24384,12039,12345
1,1,2019-07-18,1,서울특별시,구로구,28.09,6,19667,20-24세,24384,12039,12345
2,2,2019-07-18,9,서울특별시,구로구,20.25,3,15167,20-24세,24384,12039,12345
3,3,2019-07-18,10,서울특별시,구로구,21.37,21,14721,20-24세,24384,12039,12345
4,4,2019-07-18,11,서울특별시,구로구,22.12,73,24563,20-24세,24384,12039,12345
...,...,...,...,...,...,...,...,...,...,...,...,...
55610,55610,2020-06-29,15,서울특별시,서대문구,123.20,1,29000,20-24세,23011,10555,12456
55611,55611,2020-06-29,16,서울특별시,서대문구,17.39,3,18900,20-24세,23011,10555,12456
55612,55612,2020-06-30,21,서울특별시,서대문구,91.18,1,14000,20-24세,23011,10555,12456
55613,55613,2020-06-30,22,서울특별시,서대문구,32.67,1,13700,20-24세,23011,10555,12456
55614,55614,2020-06-20,21,서울특별시,강서구,41.22,1,27500,20-24세,35114,16643,18471

In [22]:
# 날짜컬럼을 시계열데이터로 변환 --> 요일별 추출해보자
df['타임테이블'] = pd.to_datetime(df['날짜'])
df['요일'] = df['타임테이블'].dt.weekday

In [28]:
df.info()
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55615 entries, 0 to 55614
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시간      55615 non-null  int64
 1   평균시간    55615 non-null  float64
 2   주문건수    55615 non-null  int64
 3   평균주문금액  55615 non-null  int64
 4   총인구수    55615 non-null  int64
 5   타임테이블   55615 non-null  datetime64[ns]
 6   요일      55615 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5)
memory usage: 3.0 MB

   시간   평균시간  주문건수  평균주문금액   총인구수      타임테이블  요일
0   0  22.65    16   23679  24384 2019-07-18   3
1   1  28.09     6   19667  24384 2019-07-18   3
2   9  20.25     3   15167  24384 2019-07-18   3
3  10  21.37    21   14721  24384 2019-07-18   3
4  11  22.12    73   24563  24384 2019-07-18   3

In [27]:
# 필요없는 컬럼 unnamed:0, 날짜, 시, 구, 5세단위구분, 남성인구수, 여성인구수 제거
df.drop(df.columns[[0,1,3,4,5,7,8,9,10,11,12]], axis=1, inplace=True)

df.columns

IndexError: index 8 is out of bounds for axis 0 with size 7